<div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" class="form-control" placeholder="Username" required="" autofocus="">
    <input type="password" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Sign in</button>
    <button routerLink="/register" routerLinkActive="active" class="btn btn-lg btn-outline-danger btn-block" type="button">Register</button>
  </form>
</div>
