.btn-outline-success{
  width: 158px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
a:hover{
  text-decoration: none;
}
#sidebar h3 {
  margin-top: 1em;
}
.container {
  margin-top: 20px;
}
.card {
  margin-top: .3em;
}
.fixed {
  width: 200px;
  position: fixed;
}
.movies {
  margin-left: 200px;
  position: relative;
  /*overflow: auto;*/
}
@media screen and (max-width: 720px) {
  .fixed {
    position: static;
  }
  .movies {
    margin-left: 0;
    position: static;
  }
}
select {
  color: #0275d8;
  padding: .3em;
}
.buttons {
  margin-bottom: 10px;
}
.buttons:hover {
  cursor: pointer;
}
.small-img {
  width: 190px;
  height: 260px;
  margin: auto;
  margin-top: 20px;
  margin-right: 25px;
  margin-left: 5px;
}
.wrap-small {
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: flex-start; /* Safari 6.1+ */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/*image grow effect*/
.small-img {
  transition: all .2s ease-in-out;
}
.small-img:hover {
  transform: scale(1.1); cursor: pointer;
}


/*snackbar*/
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.fa-check{
    color: #5cb85c;
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
