<div class="container top-container">
  <select  (change)="selectorUpdate($event.target.value)">
    <option value="Popular">Top movies</option>
    <option value="Upcoming">Upcoming movies</option>
    <option value="Top_Rated">Best rated</option>
  </select>
  <div class="justify-content-between wrap-small" infiniteScroll (scrolled)="onScroll()">
    <img
    *ngFor="let movie of movies"
    class="small-img"
    src="{{IMAGE_URL}}{{movie.poster_path}}"
    (click)="setMovie(movie)"
    data-toggle="modal"
    data-target="#exampleModal"
    href=""
    />
  </div>
</div>
<!-- MODAL -->
<app-movie-modal></app-movie-modal>
