#sidebar h3 {
  margin-top: 1em;
}

.container {
  margin-top: 20px;
}

.card {
  margin-top: .3em;
}

select {
  color: #0275d8;
  padding: .3em;
}

.buttons {
  margin-bottom: 10px;
}

.buttons:hover {
  cursor: pointer;
}

.small-img{
  width: 180px;
  height: 250px;
  margin: auto;
  margin-top: 20px;
  margin-right: 25px;
  margin-left: 5px;
}

.wrap-small{
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: flex-start; /* Safari 6.1+ */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/*image grow effect*/
.small-img {
  transition: all .2s ease-in-out;
}

.small-img:hover {
  transform: scale(1.1); cursor: pointer;
}
