.top-container{
  margin-top: 20px;
}
select{
  background-color: #292b2c;
  color: #5cb85c;
  border-radius: .2rem;
  font-size: 90%;
  padding: .2rem .4rem;
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  margin-left: 8px;
  z-index: 40;
}
.large-img{
  width: 260px;
  height: 380px;
  margin: auto;
}
.small-img{
  width: 120px;
  height: 170px;
  margin: auto;
  margin-top: 40px;
  margin-right: 5px;
  margin-left: 5px;
}
.modal-footer{
  background-color: #fff;
}
.modal-header{
  background-color: #292b2c;
  color: #5cb85c;
}
.modalBody{
  padding-left: 20px;
  flex-wrap: wrap;
}
.genres{
  margin-left: -40px;
}
.genre{
  margin-right: 10px;
}

ul > li {
  display: inline-block;
}
.wrap-large{
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-between; /* Safari 6.1+ */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*overflow-y: hidden;*/
  /*max-height: 380px;*/ /*Must be same as large-img -> heigth*/
}
.wrap-small{
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-between; /* Safari 6.1+ */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*overflow-y: hidden;
  max-height: 210px;*/
}

/*image grow effect*/
.small-img { transition: all .2s ease-in-out; }
.small-img:hover { transform: scale(1.1); cursor: pointer;}
.large-img { transition: all .2s ease-in-out; }
.large-img:hover { transform: scale(1.1); cursor: pointer;}


/*Change cursour when hover over button*/
.addBtn, .closeBtn{
  cursor: pointer;
}
