<ul class="list-group">
  <li class="list-group-item justify-content-between first">
    <span>Timestamp</span>
    <span>Search text</span>
    <span>User</span>
  </li>
  <li class="list-group-item justify-content-between">
    <kbd>12:32</kbd>
    <span>james bond 007</span>
    <span>ola</span>
  </li>
  <li class="list-group-item justify-content-between">
    <kbd>10:52</kbd>
    <span>toy story 2004</span>
    <span>ola</span>
  </li>
  <li class="list-group-item justify-content-between">
    <kbd>23:09</kbd>
    <span>shawshank</span>
    <span>ola</span>
  </li>
</ul>
