<div class="container">
  <form class="form-register">
    <h2 class="form-register-heading">Please register</h2>
    <input #userid type="text" class="form-control" placeholder="Username" required="" autofocus="">
    <input #email type="email" class="form-control" placeholder="Email Address" required="">
    <input #password type="password" id="firstPassword" class="form-control" placeholder="Password" required="">
    <input #confirm type="password" id="lastPassword" class="form-control" placeholder="Confirm Password" required="">
    <button (click)="register(userid.value, email.value, password.value, confirm.value)" class="btn btn-lg btn-outline-primary btn-block" type="button">Register</button>
  </form>
  {{ results | json }}
</div>
