<div class="container">
  <form class="form-register">
    <h2 class="form-register-heading">Please register</h2>
    <input type="text" class="form-control" placeholder="Username" required="" autofocus="">
    <input type="email" class="form-control" placeholder="Email Adress" required="">
    <input type="password" id="firstPassword" class="form-control" placeholder="Password" required="">
    <input type="password" id="lastPassword" class="form-control" placeholder="Confirm Password" required="">
    <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Register</button>
  </form>
</div>
