<div class="container">
  <form novalidate="novalidate"
    #f="ngForm"
    (ngSubmit)="onSubmit(f.value)" 
    class="form-register">
    <h2 class="form-register-heading">Please register</h2>

    <!-- userid -->
    <div class="" [ngClass]="{
      'has-danger': userid.invalid && (userid.dirty || userid.touched),
      'has-success': userid.valid && (userid.dirty || userid.touched)}">
      <input required autofocus
        [(ngModel)]="user.userid"
        #userid="ngModel"
        name="userid"
        type="text"
        class="form-control"
        pattern="[a-zA-Z0-9-]*"
        placeholder="Username">
      <div class="form-control-feedback"
        *ngIf="userid.errors && (userid.dirty || userid.touched)">
        <p *ngIf="userid.errors.required"> Username is required</p>
        <p *ngIf="userid.errors.pattern"> Not a valid username </p>
      </div>
    </div>

    <!-- email -->
    <div class="" [ngClass]="{
      'has-danger': email.invalid && (email.dirty || email.touched),
      'has-success': email.valid && (email.dirty || userid.touched)}">
      <input required
        [(ngModel)]="user.email"
        #email="ngModel"
        pattern="[^ @]*@[^ @]*"
        name="email"
        class="form-control"
        placeholder="Email Address">
      <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
        <p *ngIf="email.errors.required"> Email is required </p>
        <p *ngIf="email.errors.pattern"> Not a valid email </p>
      </div>
    </div>

    <!-- password -->
    <div class="" [ngClass]="{
      'has-danger': password.invalid && (password.dirty || password.touched),
      'has-success': password.valid && (password.dirty || password.touched)}">
      <input required
        [(ngModel)]="user.password"
        #password="ngModel"
        validateEqual="confirm"
        reverse="true"
        name="password"
        type="password"
        minlength="8"
        class="form-control"
        placeholder="Password">
      <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
        <p *ngIf="password.errors.required"> Password is required </p>
        <p *ngIf="password.errors.minlength"> Too short password </p>
      </div>
    </div>

    <!-- confirm -->
    <div class="" [ngClass]="{
      'has-danger': (confirm.value !== password.value) && (confirm.dirty || confirm.touched),
      'has-success': (confirm.value === password.value) && (confirm.dirty || confirm.touched)}">
      <input required
        [(ngModel)]="user.confirm"
        #confirm="ngModel"
        validateEqual="password"
        reverse="false"
        name="confirm"
        type="password"
        minlength="8"
        class="form-control"
        placeholder="Confirm Password">
      <div class="form-control-feedback" *ngIf="(confirm.value !== password.value) && (email.dirty || email.touched) && (confirm.dirty || confirm.touched)">
        <p> Passwords dont match </p>
      </div>
    </div>
    <div>
      <button
        class="btn btn-lg btn-outline-primary btn-block" 
        type="submit"
        [disabled]="!form.valid">
        Register
      </button>
    </div>
    <div class="">
      <p class="text-danger"> {{ result | json }}</p>
    </div>
  </form>
</div>