.form-control-feedback{
  font-size: 13px;
  color: #d9534f;
}
.text-danger{
  font-size: 13px;
  color: #d9534f;
  text-align: center;
}
.form-register {
  max-width: 350px;
  padding: 15px;
  margin: auto;
  margin-top: 150px;
  background-color: #292b2c;
}
.form-register .form-signin-heading {
  margin-bottom: 15px;
  color: #5cb85c;
  text-align: center;
}
.form-register .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 13px;
  background-color: #292b2c;
  border:0px;
  border-bottom: 1px solid #eee;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
}
.form-register .form-control:focus {
  z-index: 2;
  border-bottom: 1px solid #eee;
  color: #fff;
}

.form-register input[type="text"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-register input[type="email"] {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#firstPassword {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#lastPassword {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #d3d3d3;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #d3d3d3;
}
.already-account{
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.btn-outline-success{
  margin-top: 40px;
  font-size: 13px;
}
.btn-outline-success:hover{
  cursor: pointer;
}
.already-account{
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
.login{
  margin-top: 15px;
  color: #5cb85c !important;
  font-weight: bold;
}
.login:hover{
  cursor: pointer;
}
